body {
    font-family: Verdana, sans-serif;
    font-size: medium;
    background-color: lightgrey;
}

.header {
    margin-top: 2rem;

}

h2 {
    background-color: darkorange;
    color: white;
    padding: 15px 15px;
    margin-left: -15px;
    margin-top: 2rem;
    margin-right: -15px;
    border: 2px solid lightgrey;
}

a {
    color: black;
    text-decoration: none;
    display: inline-block;
    line-height: 50px;
    padding-left: 15px;

}

a:hover, a:focus {
    text-decoration: none;
    background-color: darkorange;
    color: white;
    /*display: inline-block;*/
    /*line-height: 50px;*/
}

.current a{
    color: white;
    background-color: darkorange;
    width: 100%;
}

img {
    vertical-align: middle;
}

.team {
    list-style: none;
    border: 2px solid lightgrey;
    background-color: white;
    color: black;
    padding: inherit;
}

.team:hover, .team:focus {
    text-decoration: none;
    background-color: darkorange;
    color: white;
    width: 100%;
}

table {
    margin-top: 30px;
}

th {
    text-align: left;
    background-color: darkorange;
    padding: 15px 15px;
    border: 2px solid transparent;
}

td {
    width: 17rem;
}

.result {
    padding-left: 15px;
}
.teams {
    background-color: white;
}
